@using PlanningPoker.Driven_Adapters;
@using PlanningPoker.Persistence;
@using PlanningPoker.Shared;
@page "/UserStorys/Index"
@inject IUserStoryAdapter UserStoryAdapter
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin, TeamLeader")]
<PageTitle>User Storys</PageTitle>

<h1>User Storys</h1>
<table>
    <thead>
    <tr style="border: solid 2px black">
        <th style="border: solid 2px black">Namn</th>

        <th style="border: solid 2px black">Datum skapat</th>

        <th style="border: solid 2px black">Id</th>

        <th style="border: solid 2px black">Team Id</th>

        <th style="border: solid 2px black">Text</th>

        <th style="border: solid 2px black">Senast uppdaterat</th>

        <th style="border: solid 2px black">Prioritet</th>
    </tr>
    </thead>
    <tbody>
@foreach(var userStory in UserStoryAdapter.UserStory)
{   
    if (userStory.IsDeleted == false)
    {   
        <tr style="border: solid 2px black">
            <td style="border: solid 2px black">    @userStory.Title
            </td>           
            <td style="border: solid 2px black">    @userStory.Created
            </td>
            <td style="border: solid 2px black">    @userStory.Id
            </td>
            <td style="border: solid 2px black">
                    @userStory.TeamId
            </td>
            <td style="border: solid 2px black">
                    @userStory.Description
            </td>
            <td style="border: solid 2px black">    @userStory.Updated
            </td>
            <td style="border: solid 2px black">
                    @userStory.Priority
            </td>
            
                <button class="btn btn-primary" @onclick="(() => ReadUserStorySingle(userStory.Id))">
                    <i class="oi oi pencil">Edit</i>
                </button>
                          
            
                <button class="btn btn-primary" @onclick="(() => PlayGame(userStory.Id))">
                    <i class="oi oi pencil">Play Planning Poker</i>
                </button>
            
        </tr>
    }
}
</tbody>
</table>  
<button class="btn btn-primary" @onclick="CreateUserStory">Create New User Story</button>
@code {
    protected override async Task OnInitializedAsync()
    {
        await UserStoryAdapter.ReadUserStory();
    }

    void ReadUserStorySingle(int id)
    {
        navigationManager.NavigateTo($"/UserStorys/Details/{id}");
    }

    void CreateUserStory()
    {
        navigationManager.NavigateTo($"/UserStorys/Details");
    }

    void PlayGame(int id)
    {
        navigationManager.NavigateTo($"/UserStorys/Play/{id}");
    }
}