@using PlanningPoker.Driven_Adapters;
@using PlanningPoker.Persistence;
@using PlanningPoker.Shared;
@page "/Teams/Index"
@inject ITest Test
<PageTitle>Teams</PageTitle>

<h1>Teams</h1>

Welcome :)

@{int i = 0;}
@foreach(var team in Test.Team)
{
    i++;
    if (team.IsDeleted == false)
    {
        <p>Namn: @team.Name</p>
        <p>Datum skapat: @team.Created</p>
        <p>Id: @team.Id</p>
        <p>Senast uppdaterat: @team.Updated</p>

        @* if (inloggad som teamleader){}*@
        <a href="Teams/Edit">Edit Team</a>
        <a href="Teams/Delete">Delete Team</a>
    }
}
<p>@i</p>
<a href="Teams/Create">Create new Team</a>

